<h1>Crea tu short url</h1>

<%= form_for :url, url: urls_path do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@url.errors.count, "error") %> prohibited 
        this url from being saved:
      </h2>
      <ul>
        <% @url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :original_url %>
  </p>

  <p><%= f.submit %></p>
<% end %>

<p><%= link_to 'All urls', urls_path %></p>